:root{
    --status-toggle: '';
}

html, body{
    margin: 0;
    padding:0;
}


*{
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}
.header{
    height: 100px;
    box-shadow: 0 2px 3px rgb(230,230,230);
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    padding-right: 30px;
}

.menu-left, .menu-right{
    display: flex;
    align-items: center;
}

.menu-item, .menu-item-lg{
    list-style: none;
    margin-right: 25px;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-item:hover, .menu-item-lg: hover{
    color: #006241;
    cursor: pointer;
}
.menu-item__logo{
    width: 49px;
    margin-right: 10px;
}
.menu-item__logo:hover, .menu-item:hover{
    cursor: pointer;
}
.menu-item:hover{
    color: #006241;
}
.menu-item--btn{
    border: 1px solid;
    padding: 7px 14px;
    border-radius: 20px;
    letter-spacing: 0;
    margin-right: 10px;
    font-size: 14px;
}
.menu-item--btn:hover{
    background-color: rgba(60,60,60,.09);
}
.menu-item--btn a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.menu-item--btn-join{
    background-color: rgb(0,0,0);
}
.menu-item--btn-join:hover{
    background-color: rgba(0,0,0,.7);
}
.menu-item--btn-join a{
    color: white;
}
.main{
    margin-top: 30px;
}
.main-item{
    display: flex;
}

.main-item + .main-item{
    margin-top: 30px;
}
.main-item-img{
    flex: 1;
}

.main-item-content{
    flex: 1;
}
.text, .text-lg{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 100px;
}

.text > h2{
    font-size: 22px;
    margin-bottom: 40px;
}
.text > h3{
    line-height: 25px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
}

.text-lg > h2{
    font-size: 48px;
    margin-bottom: 40px;
    letter-spacing: 4px;
}

.text-lg > h3{
    line-height: 35px;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 40px;
}
.first-button, .end-button{
    border: 1px solid #006241;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 20px;
    color: #006241;
    font-weight: 600;
    font-size: 15px;
}
.middle-button{
    border: 1px solid white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}

.first-button:hover, .end-button:hover{
    background-color: rgba(60,60,60,.09);
}
.middle-button:hover{
    background-color: rgb(31,117,88);
}
.img{
    width: 100%;
    height: 100%;
}

.main-item-content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0;
}

.desc{
    text-align: center;
    padding-bottom: 30px;
}

.desc > p{
    margin: 60px 350px 0px;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 26px;
}
.link{
    display: flex;
    padding: 0 40px 0 15px;
    margin-right: 0;
    box-shadow: 1px -2px 2px rgb(230,230,230);
}

.link ul{
   flex: 1;
}

.link ul p{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px 0 30px 0;
}

.link ul li {
    opacity: .7;
    margin-bottom: 20px;
    list-style: none;
    font-weight: 500;
}
.link ul li:hover{
    opacity: 1;
}
.link ul li a{
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
}
.footer{
    padding: 2px 8px 20px;
}

.social-link{
    display: flex;
    padding: 2px 37px;
}

.social-link li{
    list-style: none;
    margin-right: 20px;
    justify-content: flex-start;
}
.social-link li i{
    display: flex; 
    height: 22px;
    width: 22px;
    padding: 8px;
    border-radius: 50%;
    transition: background-color .2s;
    text-align: center;
    align-items: center;
}
.social-link li i:hover{
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}
.reference{
    display: flex;
}

.reference li{
    list-style: none;
    margin-right: 20px;
    justify-content: flex-start;
}

.first, .end{
    background-color: rgb(212,233,226);
    color: rgb(30,57,50);
    font-family: monospace;
    font-size: 14px;
}

.middle{
    background-color: rgb(0,98,65);
    color: white;
}

.reference li{
    border-right: 1px solid;
    padding-right: 20px;
}

hr{
    opacity: .3;
    width: 93%;
}

.footer > p{
    font-size: 15px;
    opacity: .6;
    padding: 5px 35px;
}

.reference li a{
    color: rgb(33,33,33);
    text-decoration: none;
    font-weight: 500;
}

.reference li a:hover{
    text-decoration: underline;
}

.reference li:last-child{
    border-right: 0;
}
.sm-ul{
    display: none;
}
    
/* RWD */
@media (min-width: 1024px){
    .toggle{
        display: none;
    }
    .link .angle-down{
        display: none;
    }
    .rwd-ul{
        display: none;
    }
}
@media (max-width: 1024px){
    .header{
        height: 85px;
    }
    .toggle{
        display: none;
    }
    .text-lg h2{
        font-size: 30px;
        letter-spacing: 2px;
    }
    .text-lg h3{
        font-size: 20px;
        line-height: 30px;
    }
    .desc > p{
        font-size: 14px;
        margin: 50px 300px 0;
    }
    .angle-down{
        display: none;
    }
    .rwd-ul{
        display: none;
    }
}

@media (max-width: 991px){
    .menu-item{
        font-size: 13px;
        letter-spacing: 0;
        font-weight: 600;
    }
    .toggle{
        display: none;
    }
    .text > h2, .text > h3{
        margin-bottom: 25px;
    }
    .desc > p{
        font-size: 13px;
        margin: 35px 200px 0;
    }
    .text-lg h2{
        font-size: 25px;
    }
    .text-lg h3{
        font-size: 15px;
    }
    .text, .text-lg{
        margin: 0 50px;
    }
    .angle-down{
        display: none;
    }
    .rwd-ul{
        display: none;
    }
}
@media (max-width: 768px){
    .main{
        margin-top: 10px;
    }
    .menu-item__logo{
        width: 40px;
        height: 40px;
    }
    .menu-item{
        display: none;
    }
    .menu-item .menu-item__logo{
        display: block !important;
        z-index: 999999;
    }
    .toggle{
        display: block;
        padding-right: 10px;
    }
    .main-item{
        flex-direction: column;
    }
    .main-item + .main-item{
        margin-bottom: 15px;
    }
    .text{
        height: 200px;
    }
    .main-item-content{
       margin-top: -4px;
    }
    .main-item .middle .text-lg{
        min-height: 300px;
    }
    .desc{
        display: none;
    }
    .link{
        flex-direction: column;
        padding-right: 35px;
    }
    .link p{
        float: left;
    }
    .lg-ul{
        display: none;
    }
    .rwd-ul{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .sm-ul{
        display: block;
        padding-top: 10px;
    }
    .sm-ul .rwd-ul li{
        font-weight: bold;
        font-size: 18px;
    }
    #first-ul, #second-ul, #third-ul, #fourth-ul, #fifth-ul{
        display: none;
        position: relative;
        top: 10px;
        padding: 0;
    }
    #toggle-list{
        display: none;
    }
    .reference{
        flex-direction: column;
    }
    .reference li{
        padding-bottom: 10px;
    }
    .social-link li i{
        padding: 3px;
    }
    .reference li{
        border-right: 0;
    }
    #toggle-list{
        background-color: #fff;
        position: absolute;
        right: 0;
        padding: 60px 20px 30px 20px;
        width: 40%;
        height: 50%;
    }
    @keyframes appear {
        from { 
            width: 0;
            opacity: 0;
        }
        to   { 
            width: 30%; 
            opacity: 1;
        }
    }
    @keyframes appear1 {
        from { 
            height: 0; 
            opacity: 0;
        }
        to   { 
            height: 100%; 
            opacity: 1;
        }
    }
    #toggle-list li{
        list-style: none;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
    }
    #toggle-list li a{
        text-decoration: none;
        color: #000;
    }
}

@media (max-width: 479px){
    .menu-item__logo{
        width: 30px;
        height: 30px;
    }
    .text h2, .text h3{
        margin-bottom: 20px;
    }
    .main-item .middle .text-lg{
        min-height: 250px;
    }
    .text h2{
        font-size: 20px;
    }
    .text-lg h3{
        margin-bottom: 20px;
    }
    .reference li a{
        font-size: 14px;
    }
    .footer ul{
        padding-left: 20px;
    }
    .social-link li i{
        padding: 3px;
    }
    .footer p{
        padding-left: 20px;
    }
    .sm-ul{
        padding: 0;
    }
    .link{
        padding-right: 15px;
    }
        .text-lg h2{
        margin-bottom: 10px;
    }
    .menu-left{
        padding-left: 20px;
    }
    .header{
        padding-right: 15px;
        height: 65px;
    }
    .toggle{
        padding-bottom: 3px;
    }

}
@media (max-width: 382px){
    .text h2, .text h3{
        margin-bottom: 20px;
    }
    .text, .text-lg{
        margin: 0 20px;
    }
    .text-lg h2{
        margin-bottom: 10px;
    }

}
@media (max-width: 323px){
    .text h3{
        font-size: 15px;
    }
    .menu-item__logo{
        width: 25px;
        height: 25px;
    }
    .toggle{
        padding-bottom: 2px;
    }
    footer ul{
        padding-left: 0;
    }
    .text-lg h2{
        margin-bottom: 10px;
    }
}